*{
    margin: 0;
    padding: 0;
}

section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.btn{
    width: 180px;
    height: 50px;
    font-size: 18px;
    letter-spacing: 1px;
    color: white;
    background: #EE5A24;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.5s;
}

.btn:hover{
    transform: rotateX(25deg);
    box-shadow: #F79F1F 0 15px 10px;
    transition: 0.5s;
}